.header {
    padding: 5px;
    color: black;
    background-color: rgb(40, 162, 202);
}
.nav-list {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    gap: 10px;
    justify-content: flex-start;
}
.list-links {
    margin-right: 0;
}
.logo {
    margin-left: 0;
    margin-right: auto;
}



img {
    width: 250px;
    height: auto;
    display: inline;
}
.awesome {

}