body {
    background-color: rgb(243, 204, 231);
}

.header {
    padding: 5px;
    color: black;
    background-color: rgb(40, 162, 202);
}
.nav-list {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    gap: 10px;
    justify-content: flex-start;
}
.list-links {
    margin-right: 0;
}
.logo {
    margin-left: 0;
    margin-right: auto;
}



img {
    width: 250px;
    height: auto;
    
}

.awesome {
    display: flex;
    flex: 1 1 100%;
    margin-top: 10px;
    flex-direction: row;
    align-content: center;
    
    margin-right: 0px;
    background-color: rgb(40, 162, 202);
    padding-right:213px;
    padding-left: 212px;
    
}


.awesome2 {
    align-self: flex-end;
}
.awesome1 {
   align-self:flex-start;
}
.heading-two {
    background-color: rgb(40, 162, 202);
    display: flex;
    justify-content: center;
}
.button {
    display: flex;
    justify-content: center;
    gap: 60px;
    background-color: rgb(40, 162, 202);
    padding: 50px;
}
.info-button {
    width: 100px;
    border-style:solid;
    border-radius: 6px;
    border-color: red;
    padding: 4px;
}